* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding-left: 15px;
  padding-right: 15px;
}

.hidden {
  display: none;
}

.top-section {
  height: 90vh;
  margin-left: 2.8rem;
  margin-right: 2.8rem;
  background-position: center;
  background-repeat: no-repeat;
}

.image-width {
  width: 30px;
}

.image-height {
  height: 50vh;
}

.text-color {
  color: #0a205c;
}

.hotel1 {
  position: absolute;
  top: 5%;
  right: 30%;
}
.hotel2 {
  position: absolute;
  top: 15%;
  right: 12%;
}

.hotel3 {
  position: absolute;
  top: 40%;
  right: 25%;
}

.relative {
  position: relative;
}

#nav_list {
  z-index: 100;
  height: 70vh;
  transition: opacity 0.5s ease;
}

.hide {
  opacity: 0 !important;
}

.show {
  opacity: 0.96 !important;
}

.discover {
  background: url(../image/swimming.jpeg);
  background-repeat: no-repeat;
  height: 60vh;
}

.bg-color {
  background-color: #0a205c !important;
}

.bg-color-wheat {
  background-color: rgb(244, 235, 224);
}

.bg-color-owl {
  background-color: rgb(21, 233, 74);
  width: 2rem;
}

.member-width {
  width: 3rem;
}

.card-height {
  height: 35vh;
}

.bigger-card-height {
  height: 72vh;
}

.spacing-above {
  margin-top: -36px;
}

.bg-color-rating {
  background-color: rgb(8, 90, 28);
  width: 1px;
}

.button:hover {
  color: #0a205c !important;
  background-color: white !important;
  border: 2px solid #0a205c !important;
}

.white-button:hover {
  background-color: #0a205c !important;
  color: white !important;
}

.width {
  width: 100%;
}

.on-hover:hover {
  color: aliceblue;
  text-decoration: underline !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "" !important;
}

:root {
  --swiper-theme-color: white !important;
}

@media screen and (min-width: 900px) {
  .width {
    width: 35% !important;
    margin-right: 10rem;
  }
}
